#demo
    .box
        position: relative
        .writer
            width: 710px
        .minibox
            width: 150px
            height: 150px
            color: #ffff
            background-color: #cd79bf
            padding: 5px
            margin: 10px
        .one
            position: fixed
            right: 10px