#demo
    .blue
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: blue
    .red
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: red
    .green
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: green
    .yellow
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: yellow
    .orange
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: orange
    .grey
        border: 8px solid #f30ce7
        width: 250px
        height: 250px
        background-color: grey

    @media screen and ( max-width: 1200px )
        .blue
            border-radius: 
            width: 250px
            height: 250px
            background-color: grey 
